### Spring Boot / Backend ###
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### Angular / Frontend ###
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code & Editores ###
.vscode/
*.swp
*.bak
.DS_Store
Thumbs.db